{% extends 'myadmin/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row p-3 justify-content-center align-items-center">
        <div class="row col-4 justify-content-center align-items-center">

            <div class="col-12 p-4 border bg-light">
                <form action="{% url 'myadmin:login_page' %}" method="POST">
                {% csrf_token %}
                    <div class="mb-3">
                        <label for="inputNumber1" class="form-label">Логин</label>
                        <input type="text" id="inputNumber1" class="form-control" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="inputNumber2" class="form-label">Пасспорт</label>
                        <input type="password" id="inputNumber2" class="form-control" name="password">
                    </div>
                    <div class="mb-3 d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-success btn-lg">Войти</button>
                    </div>
                </form>
            </div>

            {% for m in messages %}
                <div class="alert alert-danger mt-3 d-flex justify-content-center" role="alert">
                    <div>{{ m }}</div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}